#container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 990px;
  color: #32465A;
}
.contentComp {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.App {
  text-align: center;
  font-family: Verdana, helvetica, sans-serif
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.logo {
  text-align: left;
}
.navigation {
  background-color: #516A8B;
  padding: 8px 0 3px 2px;
  text-align: left;
}
.App-header {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header span {
  padding: 0px 7px 0;
  background: #899DB7;
  border-radius: 7px 7px 0 0px;
  margin: 5px;
}

.App-header span a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.App-header span a:hover {
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BreadCrumb */
#breadcrumbs {
  display: block;
  float: left;
  font-weight: bold;
  margin-bottom: 9px;
  padding-top: 4px;
  width: 970px;
  font-size: 10px;
}
#breadcrumbs .label {
  float: left;
}
#breadcrumbs ul, #breadcrumbs ul li,  #breadcrumbs h2,#breadcrumbs h1{
  list-style: none;
  margin: 0;
  padding: 0;  
}
#breadcrumbs ul {
  float: left;
}
#breadcrumbs ul li {
  float: left;
  margin-left: 5px;
}
#breadcrumbs ul li h1, #breadcrumbs ul li h2, #breadcrumbs ul li div {
  font-size: 10px;
  margin-bottom: 0;
}
#breadcrumbs ul li a {
  font-weight: normal;
  text-decoration: underline;
}
#breadcrumbs ul li.last {
  background: none;
  padding-right: 0;
}
/* Content CSS */
.heading {
  line-height: 22px;
  margin: 5px 0 12px 0;
  width: 100%;
  text-align: left;
  font-size: 18px;
    font-weight: bold;
}

#sidebar {
  float: left;
  width: 235px;
}
.contentBox {
  background: #fff ;
  border-top: 1px solid #32465A;
  clear: both;
  float: left;
  font-size: 12px;
  padding: 2px 10px;
}
#sidebar .contentBox.alt {
  width: 235px;
  line-height: 15px;
  margin-bottom: 20px;
  padding: 4px 0 0 0;
  text-align: left;
}

#sidebar .contentBox.alt .sleeve {
  width: 215px;
  padding-bottom: 16px;
}
.contentBox.alt .sleeve {
  float: left;
  padding: 0 10px 19px 10px;
}
#sidebar .contentBox.alt .innerBox {
  margin-bottom: 0px;
}
#sidebar .heading2 {
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 4px;
  width: 215px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}
.contentBox ul.linkList {
  line-height: 12px;
  padding-left: 0;
}
.contentBox ul.linkList li {
  line-height: 16px;
  list-style: none;
  margin-bottom: 5px;
  padding-bottom: 0;
  clear: both;
}
#sidebar .contentBox .more {
  line-height: 20px;
}
.contentBox .more {
  clear: both;
  display: block;
  height: 20px;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 6px;
}
.contentBox .more a {
  font-weight: bold;
  height: 20px;
  padding: 0 20px 3px 2px;
}

/* Content column on the right side */
#mainColumn {
  float: left;
  margin-left: 10px;
  width: 725px;
}
#mainColumn div.contentBox p {
  clear: left;
  padding-bottom: 10px;
  text-align: left;
}
#mainColumn .contentBox .title {
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 11px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 4px;
}

div.contentBox ul {
  list-style-type: disc;
  padding-left: 20px;
  display: block;
  text-align: left;
}
div.contentBox ul li {
  padding-bottom: 6px;
}

/* Footer CSS */
#innerFooter {
  clear: both;
  margin-bottom: 5px;
  margin-top: 20px;
  position: relative;
  /* width: 970px; */
}
#innerFooter .miniCart {
  float: right;
  margin-top: 30px;
  padding-top: 0;
}
.miniCart .itemCount {
  background: #32465A;
  color: white;
  float: left;
  font-weight: bold;
  font-size: 10px;
  padding: 6px 8px 9px;
  text-align: right;
  width: 124px;
  height: 10px;
  border-radius: 5px;
}
.leftBrand {
  float: left;
}
#globalFooter {
  clear: both;
  border-top: 1px solid;
}
.copyright {
  font-size: 10px;
}
.clear {
  clear: both
}